:root {
  --principal-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --white-color: #ffffff;
  --blue-color: #2196f3;
  --black-color: #000000;
  --black-red-color: #212121;
  --gray-color: #757575;
  --black-blue-background-color: #2f303a;
  --light-gray-background-color: #f5f4fa;
  --color-border-portfolio: #eeeeee;
  --color-border-header: #ececec;
  --transition-times: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
ul,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: var(--principal-font);
  background-color: var(--white-color);
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
}
.section {
  padding: 94px 0;
}
.div-row {
  display: flex;
  align-items: center;
}
.btn-cursor {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* построение сетки
.ul > .li {
  flex-basis: calc(100% / 3 - 30px);
} */

/* header */
.header {
  border-bottom: 1px solid #ececec;
  height: 80px;
  display: flex;
}
.header-logo {
  text-decoration: none;
  color: var(--black-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: block;
  align-self: center;
  margin-right: 93px;
}
.header-logo-highlighted {
  color: var(--blue-color);
}

.nav {
  margin-right: auto;
}
.site-nav {
  display: flex;
}
.site-nav-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav-link {
  text-decoration: none;
  color: var(--black-red-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding: 32px 0;
  transition: color var(--transition-times) var(--cubic-bezier);
}
.site-nav-backlight {
  color: var(--blue-color);
  position: relative;
}
.site-nav-backlight::after {
  content: '';
  background-color: var(--blue-color);
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: absolute;
  margin-bottom: 1px;
  bottom: 0;
  left: 0;
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--blue-color);
}

.contacts {
  display: flex;
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
  padding: 10px 0;
  display: flex;
  align-items: center;
  transition: color var(--transition-times) var(--cubic-bezier);
}
.icon-envelope,
.icon-smartphone {
  fill: currentColor;
  margin-right: 10px;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--blue-color);
}

/* main */
.main {
}

.hero-section {
  background-color: var(--black-blue-background-color);
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg1.1.jpg);
  max-width: 1600px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 696px;
  margin: 0 auto 30px;
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--principal-font);
  padding: 10px 32px;
  margin: 0 auto;
}

.peculiarity {
  display: flex;
}
.peculiarity {
}

.peculiarity-item:not(:last-child) {
  margin-right: 30px;
}
.peculiarity-divs-icons {
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.peculiarity-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-red-color);
  margin-bottom: 10px;
}
.peculiarity-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

.our-works-section {
  padding-top: 0;
}
.our-works-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-red-color);
  margin-bottom: 50px;
}
.our-works {
  display: flex;
}

.our-works-item {
  opacity: 1;
  position: relative;
}

.our-works-item::before {
  display: inline-block;
  position: absolute;
  opacity: 1;
  content: '';
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  width: 100%;
  height: 70px;
}
.our-works-p {
  position: absolute;
  bottom: 0;
  padding: 27px 82px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.project-div-p {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;
}
.our-works-item:not(:last-child) {
  margin-right: 30px;
}
/* our-team */
.our-team-section {
  background-color: var(--light-gray-background-color);
}
.our-team-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-red-color);
  margin-bottom: 50px;
}
.our-team {
  display: flex;
}
.our-team-item:not(:last-child) {
  margin-right: 30px;
}
.our-team-item-div {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 30px 0;
}
.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-red-color);
  margin-bottom: 10px;
}
.our-team-text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray-color);
  margin-bottom: 16px;
}

.our-team-social-networks-list {
  display: flex;
  justify-content: center;
}
.our-team-social-networks-item:not(:last-child) {
  margin-right: 10px;
}
.our-team-social-networks-link {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: background-color var(--transition-times) var(--cubic-bezier), color var(--transition-times) var(--cubic-bezier);
}
.our-team-social-networks-link:hover,
.our-team-social-networks-link:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
}
.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin {
  fill: currentColor;
}
.regular-customers {
  font-weight: bold;
  font-size: 36px;
  line-height: 0.9;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}
.regular-customers-company-list {
  display: flex;
}
.regular-customers-company-item {
  width: 170px;
  height: 92px;
}
.regular-customers-company-item:not(:last-child) {
  margin-right: 30px;
}
.regular-customers-company-link {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  transition: border var(--transition-times) var(--cubic-bezier),
  fill var(--transition-times) var(--cubic-bezier);
}
.regular-customers-company-link:hover,
.regular-customers-company-link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

/* footer */
.footer {
  background-color: var(--black-blue-background-color);
  color: var(--white-color);
  padding: 60px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.address-div {
}
.footer-logo {
  text-decoration: none;
  color: var(--white-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-family: var(--secondary-font);
}
.address {
  margin-top: 20px;
}
.footer-logo-highlighted {
  color: var(--blue-color);
}
.address-list {
  font-style: normal;
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address-list-item:not(:first-child) {
  margin-top: 9px;
}
.address-list-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-times) var(--cubic-bezier);
}
.address-list-link:hover,
.address-list-link:focus {
  color: var(--blue-color);
}
.come-join {
  margin-left: 70px;
}
.come-join-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 0.9;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.come-join-list {
  display: flex;
  margin-top: 20px;
}
.come-join-item:not(:first-child) {
  margin-left: 10px;
}
.come-join-link {
  display: inline-block;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--white-color);
  transition: background-color var(--transition-times) cubic-bezier(0.4, 0, 0.2, 1);
}
.come-join-link:hover,
.come-join-link:focus {
  background-color: var(--blue-color);
}

/* portfolio */
.main-portfolio {
}
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item {
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-red-color);
  background-color: var(--light-gray-background-color);
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;
  transition: color var(--transition-times) var(--cubic-bezier),
  background-color var(--transition-times) var(--cubic-bezier);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.projects > .projects-item {
  flex-basis: calc(100% / 3 - 30px);
}

.projects-item {
  margin: 30px 0 0 30px;
}
.projects-link{
  display: block;
}
.projects-link:hover,
.projects-link:focus {
  display: inline-block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}





.projects-img{
  position: relative;
  overflow: hidden;
}


.projects-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 64px 24px;
  transform: translateY(100%);
  transition: transform var(--transition-times) ease;
}

.projects-link:hover .projects-overlay,
.projects-link:focus .projects-overlay{
  transform: translateY(0);
}
.projects-overlay-text{
  color: #ffffff;
  text-align: left;
   font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.projects-item-div {
  padding: 20px 24px;
  background: #ffffff;
  box-sizing: border-box;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.projects-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-red-color);
  margin-bottom: 4px;
}
.projects-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-times) var(--cubic-bezier);
  
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-button {
  width: 31px;
  height: 31px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  fill: #000000;
}
.modal-button:hover{
  fill: var(--blue-color);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
