:root{
    --principal-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --white-color: #ffffff;
    --blue-color:#2196F3;
    --black-color:#000000;
    --black-red-color:#212121;
    --gray-color:#757575;
    --black-blue-background-color:#2F303A;
    --light-gray-background-color:#F5F4FA;

}
 body{
     font-family: var(--principal-font);
     background-color: var(--white-color);
 }


/* header */
.header-logo{
    text-decoration: none;
    color: var(--black-color);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.header-logo-highlighted{
    color: var(--blue-color);
}
.site-nav{
    list-style-type: none;
    
}
.site-nav-link{
    text-decoration: none;
    color: var(--black-red-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}
.site-nav-backlight{
    color: var(--blue-color);
}
.site-nav-link:hover,
.site-nav-link:focus{
    color: var(--blue-color);
}

.contacts{
    list-style-type: none;
}
.contacts-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
}
.contacts-link:hover,
.contacts-link:focus{
    color: var(--blue-color);
}
/* main */
/* hero */
.hero-section{
    background-color: var(--black-blue-background-color);
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);

}
.hero-btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--principal-font);
}
/* peculiarity */
.hidden-text{
    display: none;
}
.peculiarity{
    list-style-type: none;
}
.peculiarity-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-red-color);
}
.peculiarity-text{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--gray-color);
}
/* we doing */
.our-works-title-section{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-red-color);
}
.our-works{
    list-style-type: none;
}
/* our-team */
.our-team-section{
    background-color: var(--light-gray-background-color);
}
.our-team-section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-red-color);
}
.our-team{
    list-style-type: none;
}
.our-team-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-red-color);
}
.our-team-text{
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--gray-color);
}
/* footer */
.footer{
    background-color: var(--black-blue-background-color);
    color: var(--white-color);
}
.footer-logo{
    text-decoration: none;
    color: var(--white-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-family: var(--secondary-font);
}
.footer-logo-highlighted{
    color: var(--blue-color);
}
.address{
    list-style-type: none;
    font-style: normal;
    list-style-type: none;
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.address-link{
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.address-link:hover,
.address-link:focus{
    color: var(--blue-color);
}


/* portfolio */
.filter{
    list-style-type: none;
}
.filter-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-red-color);
    background: var(--light-gray-background-color);
    border-radius: 4px;
}
.filter-btn:hover,
.filter-btn:focus{
    font-weight: 500;
    color: var(--white-color);
    background: var(--blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.project{
    list-style-type: none
}
.project-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-red-color);
}
.project-text{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--gray-color);
}