:root{
    --blue-color: #2196F3;
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    --black-color: #000;
    --background-color: #2F303A;
    --white-color: #FFF;
    --black-color: #212121;
    --gray-color: #757575;
    --light-gray-color: #F5F4FA;
}
body{
    background: var(--white-color);
    color: tomato;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
}
.logo{
    font-family: Raleway;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}
.link_logo,
.link{
    text-decoration: none;
    color: #000;
}
.part_of_the_logo{
    color: var(--blue-color);
}
.link:hover{
    color: var(--blue-color);
}
.list{
    list-style-type: none;
}
.hero{
    background: var(--background-color);
}
.hero_title{
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero_text{
    color: var(--white-color);
    background: var(--blue-color);
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    justify-content: center;
}
.hidden_text{
   display: none; 
}
.title_item{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-color);
}
.text_item{
    color: var(--gray-color);
}
.we_doing-title{
    color: var(--black-color);
}
.our_team-section{
    background: var(--light-gray-color);
}
.our_team-title{
    color: var(--black-color);
}
.our_team-item{
    background: var(--white-color);
}
.name_of_people_item,
.profession_of_people_item{
    text-align: center;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
}
.our_team-text-item{
    color: var(--gray-color);
}
.white_link{
    color: var(--white-color);
    text-decoration: none;
}
.white_text{
    color: var(--white-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.transparent_white_link{
    color: rgba(255, 255, 255, 0.6);
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.contact{
    font-style: normal;
    background: var(--background-color);
}